body {
  font-family:
    Inter, system-ui, Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

html.dark {
  background-color: var(--el-bg-color-page);
}

a {
  color: var(--el-color-primary);
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--el-color-primary-light-9);
  color: var(--el-color-primary);
}


@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

// Icon sizing!
%msl-icon-size {
  height: 1.5em;
  width: 1.5em;
}
.el-icon.el-icon.el-icon {
  @extend %msl-icon-size;

  .el-icon--right {
    @extend %msl-icon-size;
  }
  svg {
    @extend %msl-icon-size;
  }
  .el-popconfirm__icon {
    @extend %msl-icon-size;
  }
}
